<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card-pf card-pf-view">
        <div class="card-pf-body">
            <div class="card-pf-heading-kebab">
                <div class="dropup pull-right dropdown-kebab-pf">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{fa-icon 'ellipsis-v'}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            {{#link-to 'books.edit' book.id }}Edit{{/link-to}}
                        </li>
                        <li>
                            <a href="" {{action 'deleteBook' book}}>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-pf-top-element">            
                <h2 class="card-pf-title text-center ">
                    <strong>{{book.title}}</strong>
                </h2>
                <h3 class="card-pf-title text-center ">{{book.author}}</h3>
            </div>
            <p class="card-pf-info text-center">{{book.releaseYear}}</p>
            <p class="card-pf-info text-center">
                {{book.ISBN}}
            </p>
            {{#if book.reader }}
            <p class="card-pf-info text-center">
                ReaderId:
                <span  class="badge badge-secondary">{{book.reader.firstName}} {{book.reader.lastName}}</span>
            </p>
            {{/if}}
            <p class="card-pf-info text-center">
                {{#if book.reader }} 
                    {{!-- {{#link-to 'books.return' book.id class="btn btn-primary"}}Return{{/link-to}}  --}}
                    <a href="" class="btn btn-primary">Return</a>
                {{else}} 
                    {{#link-to 'books.borrow' book.id class="btn btn-primary"}}Borrow{{/link-to}} 
                {{/if}}
            </p>
        </div>
    </div>
</div>