<div class="list-group-item">
  <div class="list-view-pf-checkbox">
    <input type="checkbox">
  </div>
  <div class="list-view-pf-actions">
    {{#if session.isAuthenticated}} {{#if book.reader }} {{#link-to 'books.return' book.id class="btn btn-primary"}}Return{{/link-to}}
    {{else}} {{#link-to 'books.borrow' book.id class="btn btn-primary"}}Borrow{{/link-to}}{{/if}}

    <div class="dropdown pull-right dropdown-kebab-pf">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        {{fa-icon 'ellipsis-v'}}
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
        <li>
          {{#link-to 'books.edit' book.id }}Edit{{/link-to}}
        </li>
        <li>
          <a href="" {{action 'deleteBook' book}}>Delete</a>
        </li>
      </ul>
    </div>
    {{/if}}
  </div>
  <div class="list-view-pf-main-info">
    <div class="list-view-pf-left">
      <span class="fa list-view-pf-icon-sm">{{fa-icon 'book'}}</span>
    </div>
    <div class="list-view-pf-body">
      <div class="list-view-pf-description">
        <div class="list-group-item-heading ">
          {{book.title}}
          <small>{{book.id}}</small>
        </div>
        <div class="list-group-item-text">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "feather-alt"}}
          </span>
          {{book.author}}
        </div>
      </div>
      <div class="list-view-pf-additional-info">
        <div class="list-view-pf-additional-info-item">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "calendar-alt"}}
          </span>
          <strong>{{book.releaseYear}}</strong>
        </div>
        <div class="list-view-pf-additional-info-item">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "flag"}}
          </span>

          {{book.ISBN}}
        </div>
        <div class="list-view-pf-additional-info-item">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "book-reader"}}
          </span>
          <strong> {{#if book.reader }}{{book.reader.id}}{{else}}---{{/if}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>