<div class="list-group-item">
  <div class="list-view-pf-checkbox">
    <input type="checkbox">
  </div>
  <div class="list-view-pf-actions">
    <div class="dropdown pull-right dropdown-kebab-pf">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        {{fa-icon 'ellipsis-v'}}
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
        <li>
          {{#link-to 'readers.edit' reader.id }}Edit{{/link-to}}
        </li>
        <li>
          <a href="" {{action 'deleteReader' reader}}>Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="list-view-pf-main-info">
    <div class="list-view-pf-left">
      <span class="fa list-view-pf-icon-sm">{{fa-icon 'user'}}</span>
    </div>
    <div class="list-view-pf-body">
      <div class="list-view-pf-description">
        <div class="list-group-item-heading ">
          {{reader.firstName}} {{reader.lastName}} <small>{{reader.id}}</small>
        </div>
        <div class="list-group-item-text">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "map-marker-alt"}}
          </span>
          {{reader.address}}
        </div>
      </div>
      <div class="list-view-pf-additional-info">
        <div class="list-view-pf-additional-info-item">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "mobile-alt"}}
          </span>
          <strong>{{reader.phone}}</strong>
        </div>
        <div class="list-view-pf-additional-info-item">
          <span class="fa list-view-pf-icon-sm">
            {{fa-icon "book"}}
          </span>
          <strong>{{reader.books.length}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>