<div class="card-pf card-pf-view card-pf-view-xs">
  <div class="card-pf-header ">
    <h1 class="row">
      <span class="col-xs-6">Readers list</span>
      <span class="col-xs-6 text-right">
        {{#link-to "readers.new" activeClass="active" class='btn btn-success'}} {{fa-icon 'plus'}} new reader {{/link-to}}
      </span>
    </h1>
  </div>
</div>
<div class="row toolbar-pf mx-0">
  <div class="col-sm-12">
    {{!-- <form class="toolbar-pf-actions ">
      <div class="form-group toolbar-pf-filter">
        <label class="sr-only" for="filter">ID</label>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" id="input-filter-button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">ID {{fa-icon 'angle-down'}}
            </button>
            <ul class="dropdown-menu">
              <li class="selected">
                <a href="#">ID</a>
              </li>
              <li>
                <a href="#">Name</a>
              </li>
              <li>
                <a href="#">Addres</a>
              </li>
            </ul>
          </div>
          <!-- /btn-group -->
          <input type="text" class="form-control" id="filter" placeholder="Filter By ID...">
        </div>
        <!-- /input-group -->
      </div>
      <div class="form-group">
        <div class="dropdown btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" id="filter-button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">ID {{fa-icon 'angle-down'}}
          </button>
          <ul class="dropdown-menu">
            <li class="selected">
              <a href="#">ID</a>
            </li>
            <li>
              <a href="#">Name</a>
            </li>
            <li>
              <a href="#">Address</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-link" type="button">
          {{fa-icon 'sort-alpha-down'}}
        </button>
      </div>
    </form> --}}
    <div class="row toolbar-pf-results">
      <div class="col-sm-12">
        <h5>{{model.length}} Results</h5>
      </div>
    </div>
  </div>
</div>
<div id="pf-list-var6" class="list-group list-view-pf">
    {{#each model as |reader|}} {{#reader-item reader=reader}} {{/reader-item}} {{/each}}
</div>